#override .custom-link {
    color: lightgray;
}
#override .custom-link-active {
    color: white;
}
#override .custom-link:hover {
    /* background-color: gray; */
    color: white;
}

#override .btn-custom {
    color: lightgray;
}

#override .btn-custom:hover {
    /* background-color: gray; */
    color: white;
}

#override .btn-custom {
    color: white;
    opacity: 0.9;
    /* box-shadow: 0px 0px 2px 0px lightgray; */
}

#override .btn-custom:hover {
    opacity: 1;
    box-shadow: 0px 0px 2px 2px lightgray;
}

#override .insta {
    color: rgba(221, 14, 221, 0.834);
}

#override .twitter {
    color: rgb(31, 195, 255);
}

#override .custom-icon:hover {
    color: white;
    translate: 2;
}

#override .custom-nav {
    min-height: 50px;
}
