/* color variables  */
:root {
  --pink: rgb(224, 100, 121);
  --light: rgb(255, 255, 255);
  --darkgrey: rgba(102, 100, 100, 0.952);
  --lightgrey: rgba(170, 165, 165, 0.952);
  --dark: rgb(0,0,0);
  --blue: #01cdfe;
}

#override #root {
  min-height: calc(100vh - 91px);
  position: relative;
}

#override footer {
  width: 100%;
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  height: 91px;
  position: absolute;
  bottom: -91px;
}

#override footer span {
  color: var(--lightgrey);
}

p {
  font-size: 14px;
}

.resume-custom-row {
  max-width: 850px
}

@media screen and (max-width: 480px) {
  p, li{
    font-size: 10px;
    margin-bottom: 0px !important;
  }
  ul {
    padding-left: 8px !important;
  }
  .resume-custom-row {
    width: 98%
  }

  .ui .grid .container {
    width: 100% !important;
    margin: 2px !important;
    padding: 2px !important;
  }
  .left {
    padding: 0px !important;
  }
  .right {
    padding-right: 1px !important;
  }
  .custom-left {
    max-height: 46px
  }
  #no-pad {
    padding-left:7px !important;
    padding-top:0px !important;
  }
  #no-pad1 {
    padding-left:7px !important;
    padding-top:0px !important;
  }
  #no-pad2 {
    padding-left:7px !important;
    padding-top:0px !important;
  }
  #no-pad3 {
    padding-left:7px !important;
    padding-top:0px !important;
  }
  #no-margin {
    padding-bottom: 5px;
  }
  #no-margin2 {
    margin-top: 0px;
    padding-bottom: 5px;
  }
  #no-margin3 {
    margin-top: 0px;
  }
  #no-margin5 {
    margin-top: 0px;
  }
  h1.ui .header {
    margin: 6px !important;
  }
  .ui.item {
    padding: 8px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  #no-bm {
    margin-bottom: 7px;
  }
  #no-bm2 {
    margin-bottom: 7px;
  }
}

.page-title {
  color: var(--dark);
  padding-top: 5vh;
  padding-bottom: 3vh;
  text-align: center;
}


/* home styling  */
.home-main {
  padding-top: 30vh;
  text-align: center;
}

.title {
  color: var(--dark);
}

.name-span {
  color: var(--blue);
}

.subtitle {
  color: var(--darkgrey);
}

.facts {
  margin-top: 20vh;
  color: var(--lightgrey);
}

.fact {
  color: var(--darkgrey);
}

.source {
  font-style: italic;
}


/* about styling */
.about-page {
  background-color: var(--light);
  padding-bottom: 40px;
}

.img-fluid {
  margin-top: 20px;
  padding-right: 20px;
  max-height: 94%;
}


/* work styling  */
.btn-1 {
  border: 2px solid var(--pink);
  border-radius: 5px;
  color: var(--pink);
  text-decoration: none;
}

.btn-2 {
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  text-decoration: none;
}

.btn-1:hover {
  background-color: var(--pink);
  color: var(--light);
  transition: 0.3s;
}

.btn-2:hover {
  background-color: var(--blue);
  color: var(--light);
  transition: 0.3s;
}

.project-buttons {
  display: flex;
}


/* resume styling */
.resume-page {
  background-color: var(--light);
  color: var(--dark);
  padding-bottom: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.container-resume {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.contact-item {
  margin-bottom: 5px;
}

.objective {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
}

.resume-subtitle {
  margin-top: 25px;
}

.resume-item {
  font-size: 18px;
}

.react-pdf__Page {
   display: flex; 
   justify-content: center; 
}

.react-pdf__Page__annotations {
  width: 0;
}

.react-pdf__Page__canvas {
  /* margin-left: auto; */
  margin: 0;
}

