/* color variables  */
:root {
  --pink: rgb(245, 143, 160);
  --light: rgb(255, 255, 255);
  --grey: rgba(255, 255, 255, 0.63);
  --dark: rgb(0,0,0);
  --blue: #01cdfe;
}

/* navbar styling  */
.navy {
  color: var(--light);
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
}

.navy:hover {
  border-bottom: 2px solid var(--pink);
  margin-top: -10px;
  transition: 0.2s;
  color: var(--pink);
}

.nav-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -8px;
}
.nav-item-custom {
  width: 25%;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.nav-item-custom-1 {
  border-left: 2px solid white;
}

#root {
  background-color: var(--dark);
}


/* home styling  */
.container-main {
  background-color: var(--dark);
  color: var(--light);
  min-height: 88vh;
}

.title {
  text-align: center;
  color: var(--light);
}

.subtitle {
  text-align: center;
  color: var(--grey);
}

.source {
  font-style: italic;
  text-align: center;
}

.home-main {
  margin: 30vh;
}

.page-title {
  color: var(--dark);
  padding: 5vh;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* about styling */
.about-page {
  background-color: var(--light);
  padding-bottom: 40px;
}

.container-about p {
  font-size: 20px;
  color: var(--dark);
}

.img-fluid {
  margin-top: 20px;
  padding-right: 20px;
  max-height: 94%;
}


/* work styling  */
.projects-page {
  background-color: var(--light);
}

#cnt1 {            
  background-color: var(--light);
  width:90%;
  margin-bottom:70px;
}

.feature{
  padding: 20px 0;
}

.feature h2 {
  text-align: center;
}

.project-description {
  text-decoration: none;
  color: var(--dark);
}

.project {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--dark);
}

.project-p, .project li {
  font-size: 18px;
}

.project-title, .project-subtitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.btn-custom {
  color: var(--light);
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-pink {
  background-color: var(--pink);
}

.btn-blue {
  background-color: var(--blue);
}

.btn-custom:hover {
  color: var(--grey);
}

.feature > div > div{
 padding: 10px;
 border: 1px solid transparent;
 border-radius: 4px;
 transition: 0.2s;
}


/* resume styling */
.resume-page {
  background-color: var(--light);
  color: var(--dark);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.container-resume {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.objective {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
}

.resume-subtitle {
  margin-top: 25px;
}

.resume-item {
  font-size: 18px;
}

/* footer styling */
.container-footer {
  color: var(--light);
  background-color: var(--dark);
  text-align: center;
  min-height: 14vh;
}

.row-footer {
  text-align: center;
  margin: 0 auto;
  display: inline-flex;
}

.footer-img {
  height: 90px;
  margin-left: 20px;
}

.footer-img-email {
  height: 110px;
  width: 110px;
}

.footer-img:hover, .footer-img-email:hover {
  opacity: 0.7;
  margin-top: -10px;
  transition: 0.2s;
}